@model IEnumerable<EKStore.Models.Shipment>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create"><h1>Create New</h1></a>
</p>
<label>@TempData["Message"]</label>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                From
            </th>
            <th>
                To
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ShipmentDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Vehicle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Driver)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cost)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FromWarehouseId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ToWarehouseId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ShipmentDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Vehicle.LicensePlate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Driver.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cost) TL
                </td>
                <td>
                    <a asp-area="Admin" asp-controller="Shipment" asp-action="Edit" asp-route-id="@item.Id"
                        class="btn btn-primary btn-sm">Edit</a>
                    <a asp-area="Admin" asp-controller="Shipment" asp-action="Delete" asp-route-id="@item.Id"
                        class="btn btn-danger btn-sm">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
