@model EKStore.Models.Warehouse

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Product List</h1 <label>@TempData["Message"]</label>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                Name
            </th>
            <th>
                Description
            </th>
            <th>
                Stock
            </th>
            <th>
                Category
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
            @foreach(var item in Model.Products)
            {
                if (item.Quantity == 0 || item.IsDelete == true)
                {
                    continue;
                }
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Quantity)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Category.Name)
                    </td>
                </tr>
            }
    </tbody>
</table>
